<!-- ko with: home -->
<div class="jumbotron">
    <h1>Software Deployment Installer</h1>
    <p class="lead">Download the latest version of the Software Deployment Installer.</p>
    <p><a href="../Download/SDI/SAPSoftwareDeploymentInstaller.exe" class="btn btn-primary btn-lg">Download SDI &raquo;</a></p>
</div>


<!-- /ko  -->
