<!-- ko with: home -->
<div class="jumbotron">
    <h1>Data Analysis Tool</h1>
    <p class="lead">Download the latest version of the Data Analysis Tool.</p>
    <p><a href="../Download/DAT/DataAnalysisTool.exe" class="btn btn-primary btn-lg">Download DAT &raquo;</a></p>
    <a href="../Download/DAT/Data Analysis Tool Relase Notes 1.7.pdf" class="btn btn-primary btn-lg">Download Release Notes &raquo;</a>
</div>
 

<!-- /ko  -->
