<!-- ko with: home -->
<div class="jumbotron">
    <h1>SAP Software Integration</h1>
    <p class="lead">SAP Software Integration (SAPSI) is a hub for data, install, and API tools.</p>
    <p><a href="/Manage" class="btn btn-primary btn-lg">Manage Account &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Data Analysis Tool</h2>
        <p>A tool for examining customer data.</p>
        @*<p data-bind="text: myHometown"></p>*@
       
        <p><a class="btn btn-default" href="/DataAnalysisTool">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Software Deployment</h2>
        <p>
            A tool for deploying software.
        </p>
        <p><a class="btn btn-default" href="/SoftwareDeployment">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>API</h2>
        <p>Various API stuff.</p>
        <p><a class="btn btn-default" href="/Help">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
